<div class="ctn">
    <div class="header">
        <nav>
            <div class="il">
                <div class="back">
                    <svg width="19" height="19" viewBox="0 0 512 512">
                        <path fill="white"
                            d="M400.358 496h-36.45L96 256.286L365.811 16.333h34.547ZM144.071 256.358l224.287 200.684V56.892Z" />
                    </svg>
                </div>
            </div>
            <div class="il mright">
                <div class="forward">
                    <svg width="19" height="19" viewBox="0 0 512 512">
                        <path fill="white"
                            d="M148.092 496h-36.45V16.333h34.547L416 256.286Zm-4.45-439.108v400.15l224.287-200.684Z" />
                    </svg>
                </div>
            </div>
            <div class="il">
                <div class="user">
                    <svg width="19" height="19" viewBox="0 0 512 512">
                        <path fill="white"
                            d="m448 362.7l-117.3-21.3C320 320 320 310.7 320 298.7c10.7-10.7 32-21.3 32-32c10.7-32 10.7-53.3 10.7-53.3c5.5-8 21.3-21.3 21.3-42.7s-21.3-42.7-21.3-53.3C362.7 32 319.2 0 256 0c-60.5 0-106.7 32-106.7 117.3c0 10.7-21.3 32-21.3 53.3s15.2 35.4 21.3 42.7c0 0 0 21.3 10.7 53.3c0 10.7 21.3 21.3 32 32c0 10.7 0 21.3-10.7 42.7L64 362.7C21.3 373.3 0 448 0 512h512c0-64-21.3-138.7-64-149.3" />
                    </svg>
                </div>
            </div>
        </nav>
        <header>
            <div class="img">
                <img alt="Logo" src={{src_img}}>
                <div class="text">
                    @if(nombre !== 'Mis lista de canciones') {
                        <p>Lista de las canciones que me gustan de {{nombre}}</p>
                        <h2>Canciones de {{nombre}}</h2>
                        @if(nombre === 'NCS'){
                            <p>{{email}} | {{cantsongs}} canciones</p>
                        } @else {
                            <p>{{email}} | 0 canciones</p>
                        }
                    }
                    @else {
                        <p>Lista de las canciones que me gustan</p>
                        <h2>Canciones que te gustan</h2>
                        <p>{{email}} | 0 canciones</p>
                    }

                </div>
            </div>
        </header>

    </div>
    <div class="nav2">
        <div class="il plpa" (click)="change()">
           @if (state.StateIsPlaying$() | async) {
            
            <svg width="25" height="25" viewBox="0 0 1024 1024">
                <path d="M416.272 0H192.064c-17.664 0-32 14.32-32 32v960c0 17.664 14.336 32 32 32h224.208c17.68 0 32-14.336 32-32V32c0-17.68-14.32-32-32-32m-32 960H224.064V64h160.208zM831.937 0H608.881c-17.68 0-32 14.32-32 32v960c0 17.664 14.32 32 32 32h223.056c17.68 0 32-14.336 32-32V32c0-17.68-14.304-32-32-32m-32 960H640.881V64h159.056z"/>
            </svg>
           } @else {
            <svg width="25" height="25" viewBox="0 0 1024 1024">
                <path d="m144.624 65.392l735.744 446.592l-736.736 446.624zm0-64a63.765 63.765 0 0 0-31.088 8.063c-20.32 11.28-32.912 32.705-32.912 55.937l-.992 893.216a63.958 63.958 0 0 0 32.912 55.936a63.937 63.937 0 0 0 31.088 8.065c11.712 0 23.472-3.216 33.775-9.664l736.72-446.624a63.94 63.94 0 0 0 30.257-54.336c0-22.112-11.44-42.672-30.257-54.352L178.4 11.025a64.084 64.084 0 0 0-33.775-9.632z"/>
            </svg>
           }
        </div>
    </div>
    <main>
        <table>
            <thead>
                <th>#</th>
                <th>Titulo</th>
                <th>Álbum</th>
                <th>
                    <svg width="17" height="17" viewBox="0 0 14 14">
                        <g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"><circle cx="7" cy="7" r="6.5"/>
                            <path d="M7 4.5V7l2.54 2.96"/>
                        </g>
                    </svg>
                </th>
            </thead>
            <tbody>
                @if (nombre === 'NCS'){
                    @for(music of listmusictable; track $index) {
                        <tr (click)="changemusic(tdname.textContent!,tdalbum.textContent!,tdtime.textContent!)">
                            <td style="text-align: center;">{{$index + 1}}</td>
                            <td style="text-align: left;" #tdname>{{music.n}}</td>
                            <td style="text-align: center;" #tdalbum>{{music.album}}</td>
                            <td style="text-align: center;" #tdtime>{{music.time}}</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </main>
</div>