<form (ngSubmit)="entrar(email.value, password.value)">

    <input type="text" placeholder="Escribir un email"  #email [ngClass]="IsMatchEmail ? 'correcto' : 'incorrecto'" [(ngModel)]="IEmail" (input)="comprobarEmail()" [ngModelOptions]="{standalone: true}">

    <input type="password" placeholder="Escribir una contraseña" #password [ngClass]="IsMatchPW ? 'correcto' : 'incorrecto'" [(ngModel)]="IPassWord" (input)="comprobarPW()" [ngModelOptions]="{standalone: true}">

    <button type="submit" #submit>Entrar</button>

</form>
