<form [formGroup]="formularioLogIn"
    (ngSubmit)="entrar(email.value, password.value)">

    <input type="text" placeholder="Escribir un email" formControlName="email" #email [ngClass]="IsMatchEmail ? 'correcto' : 'incorrecto'" [(ngModel)]="IEmail" (input)="comprobarEmail()">

    <input type="password" placeholder="Escribir una contraseña" formControlName="password" #password [ngClass]="IsMatchPW ? 'correcto' : 'incorrecto'" [(ngModel)]="IPW" (input)="comprobarPW()">

    <button type="submit" [disabled]="formularioLogIn.invalid">Entrar</button>

</form>
