@if(state.menuSecundarioVisible$() | async){
    <ul class="menu flex" #menus id="menusecundario">
        <li [ngClass]="'flex-v'" routerLink="/juegos/cardgame" routerLinkActive="active" class="CD" (click)="toggleMenu()">
            <i class='bx bxs-credit-card-front' style='color:#ffffff'></i>
            <p>CardGame</p>
        </li>
        <li [ngClass]="'flex-v li'" routerLink="/juegos/musicplayer/NCS" routerLinkActive="active" class="MP" (click)="toggleMenu()">
            <i class='bx bxs-music' style='color:#ffffff'></i>
            <p>MusicPlayer</p>
        </li>
    </ul>
} @else {

}

<router-outlet></router-outlet>