<ul class="menu flex" #menus id="menusecundario">
    <li [ngClass]="'flex-v'" routerLink="/juegos/cardgame" routerLinkActive="active" class="CD" (click)="change(menus)">
        <i class='bx bxs-credit-card-front' style='color:#ffffff'></i>
        <p>CardGame</p>
    </li>
    <li [ngClass]="'flex-v'" routerLink="/juegos/musicplayer/NCS" routerLinkActive="active" class="MP" (click)="change(menus)">
        <i class='bx bxs-music' style='color:#ffffff'></i>
        <p>MusicPlayer</p>
    </li>
</ul>
<router-outlet></router-outlet>