<router-outlet></router-outlet>
<div class="ctn">
    <div class="menu">
        
        <ul id="menu" #menu>
            <li class="flex-cc">
                <i class='bx bx-left-arrow-alt' id="arrow" (click)="changepropierties(menu)"></i>
            </li>
            <li class="flex-cc">
                <p>Welcome user: {{user}}</p>
            </li>
            <li class="flex-v">
                <i class='bx bxs-dashboard' style='color:#ffffff' ></i>
                <p>DashBoard</p>
            </li>
            <li class="flex-v">
                <i class='bx bxs-chat' style='color:#ffffff' ></i>
                <p>Message</p>
            </li>
            <li class="flex-v">
                <i class='bx bxs-home-alt-2' style='color:#ffffff' ></i>
                <p>Tasks</p>
            </li>
            <li class="flex-v">
                <i class='bx bxs-user' style='color:#ffffff' ></i>
                <p>Profile</p>
            </li>
            <li class="flex-v" (click)="logout()">
                <i class='bx bx-log-out' style='color:#ffffff' ></i>
                <p>Logout</p>
            </li>
        </ul>
    </div>
</div>