<div class="data">
    <h1>Datos del usuario:</h1>
    @for(user of lista_usuario; track $index){
        @if(email === user.email){
            <p>{{user.nombre}}</p>
            <p>{{user.apellidos}}</p>
            <p>{{user.email}}</p>
            <p>{{user.puntuacion}}</p>
        }
    }
</div>


<table>
    <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Puntuacion</th>
        <th>Operaciones</th>
    </thead>
    <tbody>
        @if (email === 'ismagarmon3@gmail.com'){
        @for(user of lista_usuario; track $index){
        <tr>

            <td>
                <input value={{user._id}} readonly>
            </td>
            <td>
                <input value={{user.nombre}}>
            </td>
            <td>
                <input value={{user.apellidos}}>
            </td>
            <td>
                <input value={{user.email}}>
            </td>
            <td>
                <input value={{user.puntuacion}} readonly>
            </td>
            <td>
                <button id={{user._id}} (click)="eliminarusuario(btndelete.id)" #btndelete>Eliminar</button>
            </td>

        </tr>
        }
        } 
    </tbody>
</table>

@if (email !== 'ismagarmon3@gmail.com') {
    <p>Como no eres el adminstrador no puedes obtener la lista de todos los usuarios.</p>
}