.ctn {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
}

.abs {
    position: absolute;
    left: 20px;
    top: 120px;
    width: 80%;
}

.punt {
    position: absolute;
    top: 120px;
    right: 20px;
    width: 15%;
    height: 70%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: [uno] auto [dos] auto [tres] auto [cuatro] auto [cinco] auto [seis] auto [siete];
    grid-template-rows: [uno] auto [dos] auto [tres];
    gap: 3px;
}

.parr {
    background-color: grey;
    border-radius: 1rem;
    padding: 1rem;
}

button {
    cursor: pointer;
    background-color: rgb(87, 87, 255);
    outline: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1.3rem;
    border: 0px;
    color: #FFFFFF;
    font-family: 'RubikR';
}

button:active {
    transform: translateY(4px);
}

#timer {
    display: inline-block;
    margin-left: 20rem;
    font-size: 2rem;
    margin-top: 2rem;
}