@if(flag){

<div [ngClass]="'ctn grid'">
    <div [ngClass]="'border menulat'">
        <div class="menulatinside">
            <div class="c-m">
                <div class="svgs pointer">
                    <svg width="32" height="32" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M4 21V9l8-6l8 6v12h-6v-7h-4v7z" />
                    </svg>

                    Inicio
                </div>
            </div>
            <div>
                <div class="svgs pointer">
                    <svg width="27" height="27" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M325.8 0C223 0 139.6 83.4 139.6 186.2c0 33.5 9 64.8 24.4 92L0 442.2l23.3 46.5L69.8 512l164-164c27.1 15.5 58.5 24.4 92 24.4C428.6 372.4 512 289 512 186.2S428.6 0 325.8 0m0 314.2c-70.7 0-128-57.3-128-128s57.3-128 128-128s128 57.3 128 128s-57.3 128-128 128" />
                    </svg>

                    Buscar
                </div>
            </div>
        </div>
        <div class="menulatinside2">
            <div class="flex title">
                <svg width="32" height="32" viewBox="0 0 16 16">
                    <path fill="currentColor" fill-rule="evenodd"
                        d="m1.5 8.5l2.5-6h8l2.5 6zM0 8.569v2.181c0 .966.784 1.75 1.75 1.75H2v.75c0 .966.784 1.75 1.75 1.75h8.5a.75.75 0 0 0 0-1.5h-8.5a.25.25 0 0 1-.25-.25v-.75h10.25a.75.75 0 0 0 0-1.5h-12a.25.25 0 0 1-.25-.25V10h13a1.5 1.5 0 0 0 1.385-2.077l-2.629-6.308A1 1 0 0 0 12.333 1H3.667a1 1 0 0 0-.923.615L.115 7.923A1.498 1.498 0 0 0 0 8.569"
                        clip-rule="evenodd" />
                </svg>
                Tu biblioteca
            </div>
            <div class="listado">
                @for(item of lista; track $index) {
                    @if(item.nombre === 'NCS') {
                        <div class="ctnlist" style="height: calc(4rem - 2px);" (click)="cambiarnumero($index);cambiarnombre(item.nombre)">
                            <img src="{{item.img}}" style="height: 4rem;">
                            <div class="text">
                                <p style="display: block;">{{item.nombre}}</p>
                                <p>{{item.PD}}</p>
                            </div>
                        </div>
                    } @else {
                        <div class="ctnlist" (click)="cambiarnumero($index);cambiarnombre(item.nombre);changemusiclist()">
                            <img src="{{item.img}}">
                            <div class="text">
                                <p>{{item.nombre}}</p>
                                <p>{{item.PD}}</p>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
    <div [ngClass]="'border main'">
        @defer (when isVisiML) {
            <app-musiclist (addFavouriteEvent)="getValueIsPlaying($event)"  src_img={{lista[number].img}} nombre={{name}}></app-musiclist> <!-- Aquí me da un error porque le estoy pasando una lista que al principio está undefined, pero luego cargo valores con el service al obterner las listas -->
          } @error {
            <p>Problemas con el servidor</p>
          }
    </div>
    <div [ngClass]="'app'">
        @defer (when isVisiMA) {
            <app-reproductor></app-reproductor>
        } @error {
            <p>Problemas con el servidor</p>
        }
        
    </div>

</div>



<!-- <div class="volume">
        <div class="range">
            <div class="sliderValue">
                <span #valuespan>50</span>
            </div>
            <div class="field">
                <div class="value left">
                    <svg width="23" height="23" viewBox="0 0 20 20">
                        <g fill="grey"><path d="M10 3.75a.75.75 0 0 0-1.264-.546L4.703 7H3.167a.75.75 0 0 0-.7.48A6.985 6.985 0 0 0 2 10c0 .887.165 1.737.468 2.52c.111.29.39.48.7.48h1.535l4.033 3.796A.75.75 0 0 0 10 16.25V3.75Zm5.95 1.3a.75.75 0 0 0-1.06 1.061a5.5 5.5 0 0 1 0 7.778a.75.75 0 0 0 1.06 1.06a7 7 0 0 0 0-9.899Z"/>
                            <path d="M13.829 7.172a.75.75 0 0 0-1.061 1.06a2.5 2.5 0 0 1 0 3.536a.75.75 0 0 0 1.06 1.06a4 4 0 0 0 0-5.656Z"/>
                        </g>
                    </svg>
                </div>
                <input type="range" min="0" max="100" value="50" step="0.5"
                    (input)="changevalue(valuespan, volumeninput)" (mouseup)="mouseup(valuespan)" #volumeninput>
                <div class="value right">100</div>
            </div>
        </div>
    </div> -->
}@else {
{{Nombres | json}}
}