<form [formGroup]="formularioRegistro"
    (ngSubmit)="insertarn(nombre.value, apellidos.value, email.value, password.value)">
    <input type="text" placeholder="Escribir el nombre" formControlName="nombre" #nombre>
    @if(this.formularioRegistro.get('nombre')?.errors?.['required']) {
    <span>(El nombre no puede quedar vacío)</span>
    }
    @if(this.formularioRegistro.get('nombre')?.errors?.['minlength']) {
    <span>(Debe tener como mínimo 4 caracteres)</span>
    }
    @if(this.formularioRegistro.get('nombre')?.errors?.['onlywords']) {
    <span>(Solo letras y espacios)</span>
    }

    <input type="text" placeholder="Escribir los apellidos" formControlName="apellidos" #apellidos>
    @if(this.formularioRegistro.get('apellidos')?.errors?.['required']) {
    <span>(Los apellidos no pueden quedar vacío)</span>
    }
    @if(this.formularioRegistro.get('apellidos')?.errors?.['minlength']) {
    <span>(Debe tener como mínimo 4 caracteres)</span>
    }
    @if(this.formularioRegistro.get('apellidos')?.errors?.['onlywords']) {
    <span>(Solo letras y espacios)</span>
    }

    <input type="text" placeholder="Escribir un email" formControlName="email" #email>

    @if(this.formularioRegistro.get('email')?.errors?.['required']) {
    <span>(El email no pueden quedar vacío)</span>
    }
    @if(this.formularioRegistro.get('email')?.errors?.['regexemail']) {
    <span>(Tiene que ser un correo valido)</span>
    }

    <input type="password" placeholder="Escribir una contraseña" formControlName="password" #password>
    @if(this.formularioRegistro.get('password')?.errors?.['regexpassword']) {
    <span>(Tiene que ser una contraseña válida)</span>
    }
    @if(this.formularioRegistro.get('password')?.errors?.['required']) {
    <span>(La contraseña no pueden quedar vacío)</span>
    }
    <!-- <input type="range" step="0.1" min="0" max="100" #range (input)="getValor(range)" id="volume">
    <p>{{valor}}</p> -->






    <input type="checkbox" formControlName="largo">¿Quieres recibir notificaciones?
    <!--
    <p>Elevar a:<br>
        <select formControlName="potencia">
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </p>

    <p>Convertir a:<br>
        <input type="radio" formControlName="base" value="octal">Octal
        <input type="radio" formControlName="base" value="hexadecimal">Hexadecimal
    </p>     Preguntar de como usar los forms anidados -->

    <button type="submit" [disabled]="formularioRegistro.invalid">Registrarse</button>

</form>