*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'RubikR';
    src: url('./assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

body {
    font-family: 'RubikR';
}
/* You can add global styles to this file, and also import other style files */